# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
maks w tablicy/.vs/maks w tablicy/v15/ipch/AutoPCH/MAKS W TABLICY-abe7f2ca/ŹRÓDŁO-a8cb7e48/ŹRÓDŁO.ipch
maks w tablicy/.vs/maks w tablicy/v15/ipch/AutoPCH/22423d36f5f90ecd/ŹRÓDŁO.ipch
maks w tablicy/.vs/maks w tablicy/v15/Browse.VC.opendb
maks w tablicy/.vs/maks w tablicy/v15/Browse.VC.db
maks w tablicy/.vs/maks w tablicy/v15/.suo
maks w tablicy/.vs/maks w tablicy/v15/ipch/AutoPCH/fd84407aee12a20b/MAX.ipch
maks w tablicy/.vs/maks w tablicy/v15/ipch/AutoPCH/MAKS W TABLICY-5095ad84/ŹRÓDŁO-2057d202/ŹRÓDŁO.ipch
